.header {
  padding: 4px 0;
  @include sm {
    padding: 16px calc(50% - ($breakpoint-xl / 2));
  }
  &__container {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    @include sm {
      gap: 10px;
    }
  }

  // .header__logo
  &__logo {
    position: relative;
    z-index: 11;
    transition: all 0.3s ease 0s;
    @include lg {
      position: static;
      width: 287px;
    }
  }

  &__burger {
    display: flex;
    position: relative;
    z-index: 11;
    border: 1px solid $bg-hover;
    padding: 16px;
    border-radius: 8px;
    &:active {
      background-color: $primary-color;
      & span {
        background-color: $white;
        &::before,
        &::after {
          background-color: $white;
        }
      }
    }
    & span {
      position: absolute;
      width: 16px;
      height: 1px;
      background-color: $text-color;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      transition: all 0.3s ease;
      border-radius: 8px;
      &::before,
      &::after {
        content: "";
        width: 16px;
        height: 1px;
        background-color: $text-color;
        position: absolute;
      }
      &::before {
        top: 5px;
      }
      &::after {
        bottom: 5px;
      }
    }

    @include sm {
      margin-left: 12px;
    }

    @include lg {
      display: none;
    }
  }

  &__burger.active {
    border: 0px;
    & span {
      left: 9px;
      transform: rotate(-45deg) translateY(-50%);
      &::before {
        transform: rotate(-90deg) translate(50%);
        top: 8px;
      }
      &::after {
        width: 0;
      }
    }
  }

  // .header__menu
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    background-color: $white;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: -150%;
    align-items: center;
    justify-content: center;
    height: 50vh;
    transition: all 0.3s ease;
    z-index: 10;
    border-radius: 0 0 12px 12px;
    padding-top: 44px;
    @include lg {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      gap: 20px;
      position: static;
      width: auto;
      height: auto;
      padding-top: 0;
    }
  }

  &__menu.active {
    top: 0;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black02;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    padding: 0 15px;
  }

  &__list.active,
  &__overlay.active {
    opacity: 1;
  }

  &__link {
    display: inline-block;
    color: $text-color;
    transition: border-bottom, color 0.2s ease 0s;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    padding: 8px 0;
    position: relative;
    @include lg {
      margin: 0;
      &:hover {
        color: $blue;
      }
    }
    &.current {
      color: $secondary-color;
    }
  }

  &__link.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2581eb;
    animation: underline 0.3s ease;
  }

  &__icon {
    display: none;
    @include xl {
      display: block;
      position: absolute;
      top: 15px;
      right: 6px;
    }
  }

  // .header__info
  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  // .header__cart
  &__cart {
    padding: 11px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in 0s;
    & svg {
      color: $gray;
      transition: all 0.3s ease-in 0s;
    }
    &:hover {
      border: 1px solid $blue;
      & svg {
        color: $blue;
      }
    }
    &:active {
      border: 1px solid $secondary-pressed;
      & svg {
        color: $secondary-pressed;
      }
    }
  }

  // .header__phone
  &__phone {
    display: none;
    background: $primary-color;
    color: $white;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    &:active {
      background: $primary-pressed;
    }
    @include sm {
      display: block;
      letter-spacing: 0.5%;
      cursor: pointer;
      transition: all 0.3s ease-in 0s;
      &:hover {
        background: $primary-hover;
      }
    }
  }
}

.link-menu {
  @include xl {
    padding-right: 28px;
  }
}

.mobile-phone {
  display: block;
  margin-top: 4px;
  @include lg {
    display: none;
  }
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
