.hero {
  padding: 30px 16px;
  @include lg {
    height: 100vh;
    padding: 76px calc(50% - ($breakpoint-xl / 2)) 0;
  }

  // .hero__container
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  // .hero__title
  &__title {
    color: $black-title;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Jura";
    position: relative;
    font-size: 92px;
    margin-bottom: 16px;

    @include lg {
      font-size: 152px;
    }
  }

  // .hero__left-text
  &__left-text {
    @include lg {
      position: absolute;
      top: -118px;
      left: -304px;
    }
  }

  // .hero__right-text
  &__right-text {
    @include lg {
      position: absolute;
      right: -304px;
      top: -24px;
    }
  }

  // .hero__duck-wrapper
  &__duck-wrapper {
    @include lg {
      position: absolute;
      top: -5%;
      left: 50%;
      transform: translate(-50%);
    }
  }

  // .hero__duck-content-pc
  &__duck-content-pc {
    display: none;
    @include lg {
      display: block;
      position: absolute;
      top: -6px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  // .hero__duck
  &__duck {
  }

  &__quack {
    position: absolute;
    top: 123px;
    left: -22px;
    @include lg {
      position: absolute;
      top: 215px;
      left: -48px;
    }
  }

  // .hero__duck-content-tb
  &__duck-content-tb {
    display: none;
    @include md {
      display: block;
    }
    @include lg {
      display: none;
    }
  }

  // .hero__duck-content-mb
  &__duck-content-mb {
    position: absolute;
    top: 34%;
    right: -17px;
    @include md {
      display: none;
      position: static;
    }
  }

  // .hero__text-block
  &__block-info {
    // flex: auto;

    @include lg {
      position: absolute;

      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .hero__text-block
  &__text-block {
    max-width: 315px;
    line-height: 1.25;
    color: $text-color;
    font-weight: 400;
    margin-bottom: 8px;

    @include lg {
      position: absolute;
      bottom: 177px;
      right: -209px;
    }
  }

  // .hero__btn
  &__btn {
    background-color: $blue;
    color: $white;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5;
    font-size: 15px;
    padding: 10px 12px;
    transition: all 0.3s ease 0s;
    margin-bottom: 143px;
    &:active {
      background-color: $secondary-pressed;
    }
    @include lg {
      margin-bottom: 0;
      position: absolute;
      bottom: 140px;
      right: -42px;
      cursor: pointer;
      &:hover {
        background-color: $secondary-hover;
      }
    }
  }

  // .hero__nav
  &__nav {
    @include lg {
      position: absolute;
      bottom: 97px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  // .hero__menu
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include lg {
      gap: 44px;
      flex-direction: row;
    }
  }

  // .hero__item
  &__item {
    padding: 6px 0;
    @include lg {
      padding: 0;
    }
    & a {
      display: flex;
      width: fit-content;
      white-space: nowrap;
      color: $text-color;
      transition: all 0.3s ease 0s;
      &:hover {
        color: $blue;
      }
    }
  }

  &__arrow {
    margin: 3px 20px 3px 9px;
  }
}
