@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jura:regular,500,600,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: "Inter";
  background-color: aquamarine;
}

body.no-scroll {
  overflow: hidden;
}

.header {
  padding: 4px 0;
}
@media (min-width: 544px) {
  .header {
    padding: 16px calc(50% - 640px);
  }
}
.header__container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
@media (min-width: 544px) {
  .header__container {
    gap: 10px;
  }
}
.header__logo {
  position: relative;
  z-index: 11;
  transition: all 0.3s ease 0s;
}
@media (min-width: 960px) {
  .header__logo {
    position: static;
    width: 287px;
  }
}
.header__burger {
  display: flex;
  position: relative;
  z-index: 11;
  border: 1px solid #ffdd55;
  padding: 16px;
  border-radius: 8px;
}
.header__burger:active {
  background-color: #eab308;
}
.header__burger:active span {
  background-color: #ffffff;
}
.header__burger:active span::before, .header__burger:active span::after {
  background-color: #ffffff;
}
.header__burger span {
  position: absolute;
  width: 16px;
  height: 1px;
  background-color: #1f2937;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  border-radius: 8px;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  width: 16px;
  height: 1px;
  background-color: #1f2937;
  position: absolute;
}
.header__burger span::before {
  top: 5px;
}
.header__burger span::after {
  bottom: 5px;
}
@media (min-width: 544px) {
  .header__burger {
    margin-left: 12px;
  }
}
@media (min-width: 960px) {
  .header__burger {
    display: none;
  }
}
.header__burger.active {
  border: 0px;
}
.header__burger.active span {
  left: 9px;
  transform: rotate(-45deg) translateY(-50%);
}
.header__burger.active span::before {
  transform: rotate(-90deg) translate(50%);
  top: 8px;
}
.header__burger.active span::after {
  width: 0;
}
.header__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  top: -150%;
  align-items: center;
  justify-content: center;
  height: 50vh;
  transition: all 0.3s ease;
  z-index: 10;
  border-radius: 0 0 12px 12px;
  padding-top: 44px;
}
@media (min-width: 960px) {
  .header__menu {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: static;
    width: auto;
    height: auto;
    padding-top: 0;
  }
}
.header__menu.active {
  top: 0;
}
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1333333333);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 0 15px;
}
.header__list.active, .header__overlay.active {
  opacity: 1;
}
.header__link {
  display: inline-block;
  color: #1f2937;
  transition: border-bottom, color 0.2s ease 0s;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  padding: 8px 0;
  position: relative;
}
@media (min-width: 960px) {
  .header__link {
    margin: 0;
  }
  .header__link:hover {
    color: #2581eb;
  }
}
.header__link.current {
  color: #2581eb;
}
.header__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2581eb;
  animation: underline 0.3s ease;
}
.header__icon {
  display: none;
}
@media (min-width: 1280px) {
  .header__icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 6px;
  }
}
.header__info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__cart {
  padding: 11px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease-in 0s;
}
.header__cart svg {
  color: #6b7280;
  transition: all 0.3s ease-in 0s;
}
.header__cart:hover {
  border: 1px solid #2581eb;
}
.header__cart:hover svg {
  color: #2581eb;
}
.header__cart:active {
  border: 1px solid #0763cd;
}
.header__cart:active svg {
  color: #0763cd;
}
.header__phone {
  display: none;
  background: #eab308;
  color: #ffffff;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}
.header__phone:active {
  background: #cc9500;
}
@media (min-width: 544px) {
  .header__phone {
    display: block;
    letter-spacing: 0.5%;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
  }
  .header__phone:hover {
    background: #fec71c;
  }
}

@media (min-width: 1280px) {
  .link-menu {
    padding-right: 28px;
  }
}

.mobile-phone {
  display: block;
  margin-top: 4px;
}
@media (min-width: 960px) {
  .mobile-phone {
    display: none;
  }
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.hero {
  padding: 30px 16px;
}
@media (min-width: 960px) {
  .hero {
    height: 100vh;
    padding: 76px calc(50% - 640px) 0;
  }
}
.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hero__title {
  color: #1E1E1E;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Jura";
  position: relative;
  font-size: 92px;
  margin-bottom: 16px;
}
@media (min-width: 960px) {
  .hero__title {
    font-size: 152px;
  }
}
@media (min-width: 960px) {
  .hero__left-text {
    position: absolute;
    top: -118px;
    left: -304px;
  }
}
@media (min-width: 960px) {
  .hero__right-text {
    position: absolute;
    right: -304px;
    top: -24px;
  }
}
@media (min-width: 960px) {
  .hero__duck-wrapper {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%);
  }
}
.hero__duck-content-pc {
  display: none;
}
@media (min-width: 960px) {
  .hero__duck-content-pc {
    display: block;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translate(-50%);
  }
}
.hero__quack {
  position: absolute;
  top: 123px;
  left: -22px;
}
@media (min-width: 960px) {
  .hero__quack {
    position: absolute;
    top: 215px;
    left: -48px;
  }
}
.hero__duck-content-tb {
  display: none;
}
@media (min-width: 768px) {
  .hero__duck-content-tb {
    display: block;
  }
}
@media (min-width: 960px) {
  .hero__duck-content-tb {
    display: none;
  }
}
.hero__duck-content-mb {
  position: absolute;
  top: 34%;
  right: -17px;
}
@media (min-width: 768px) {
  .hero__duck-content-mb {
    display: none;
    position: static;
  }
}
@media (min-width: 960px) {
  .hero__block-info {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.hero__text-block {
  max-width: 315px;
  line-height: 1.25;
  color: #1f2937;
  font-weight: 400;
  margin-bottom: 8px;
}
@media (min-width: 960px) {
  .hero__text-block {
    position: absolute;
    bottom: 177px;
    right: -209px;
  }
}
.hero__btn {
  background-color: #2581eb;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5;
  font-size: 15px;
  padding: 10px 12px;
  transition: all 0.3s ease 0s;
  margin-bottom: 143px;
}
.hero__btn:active {
  background-color: #0763cd;
}
@media (min-width: 960px) {
  .hero__btn {
    margin-bottom: 0;
    position: absolute;
    bottom: 140px;
    right: -42px;
    cursor: pointer;
  }
  .hero__btn:hover {
    background-color: #439fff;
  }
}
@media (min-width: 960px) {
  .hero__nav {
    position: absolute;
    bottom: 97px;
    left: 50%;
    transform: translate(-50%);
  }
}
.hero__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 960px) {
  .hero__menu {
    gap: 44px;
    flex-direction: row;
  }
}
.hero__item {
  padding: 6px 0;
}
@media (min-width: 960px) {
  .hero__item {
    padding: 0;
  }
}
.hero__item a {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  color: #1f2937;
  transition: all 0.3s ease 0s;
}
.hero__item a:hover {
  color: #2581eb;
}
.hero__arrow {
  margin: 3px 20px 3px 9px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1333333333);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
@media (min-width: 960px) {
  .modal {
    padding: 30px;
  }
}
.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.modal__title {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}
.modal__field {
  margin-bottom: 15px;
}
.modal__field label {
  color: #000000;
  font-weight: 500;
}
.modal__field label span {
  color: #ff6c2d;
}
.modal__field input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #f1f1f1;
  border-radius: 14px;
  font-family: inherit;
  margin-top: 8px;
}
.modal__field input::-moz-placeholder {
  color: #a7a7a7;
  opacity: 1;
}
.modal__field input::placeholder {
  color: #a7a7a7;
  opacity: 1;
}
.modal__submit {
  width: 100%;
  padding: 12px;
  background-color: #eab308;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s;
}
@media (min-width: 960px) {
  .modal__submit {
    cursor: pointer;
  }
  .modal__submit:hover {
    background-color: #fec71c;
  }
  .modal__submit:active {
    background-color: #cc9500;
  }
}
.modal__policy {
  margin-top: 15px;
  font-size: 12px;
  color: #666;
  text-align: center;
}
.modal__policy a {
  color: #007bff;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */